body,
html {
    /* height: 100%; */
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    //-webkit-overflow-scrolling: touch;
    touch-action: manipulation; ;
    // width: 100%;
}
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background: #fce518;
    border-radius: 25px;
    border: 0.1px solid #fff;
}
a {
    text-decoration: none;
    list-style: none;
    // color: #000;
}

$colors: ('primary': rgb(252, 229, 24),
    'white': #fff,
    'light': #f6f6f6,
    'defule': #626675,
    'init': #424242,
    'grey': #ccc,
    'content': #2f3133,
    'dark': rgb(23 29 32),
    'pitck':#171719,
    'black': #000,
    'danger': rgba(255, 0, 0, 0.671),
    'coffee': #703636,
    'brick': #833d3d);
$fonts: ('a': 'Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif');

@each $colorKey,
$color in $colors {
    .text-#{$colorKey} {
        color: $color;
    }

    .bg-#{$colorKey} {
        background-color: $color;
    }
}

@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var;
    }
}

@each $familyKey,
$font in $fonts {
    .font-#{$familyKey} {
        font-family: $font;
    }
}


$base-font-size: 1rem;
$font-sizes: (xs: 0.625,
    //10px
    sm: 0.8125,
    //13px
    md: 1,
    lg: 1.1875,
    //19px
    xl: 1.375, //22px
    xxl: 1.625);

@each $sizeKey,
$size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}

$spacing-types: (m: margin,
    p: padding);
$spacing-directions: (t: top,
    r: right,
    b: bottom,
    l: left);
$spacing-base-size: 1rem;
$spacing-sizes: (0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3);

@each $typeKey,
$type in $spacing-types {

    // .m-1
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}#{$sizeKey} {
            #{$type}: $size * $spacing-base-size;
        }
    }

    // .mx-1
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}x#{$sizeKey} {
            #{$type}-left: $size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size;
        }
    }

    // .my-1
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}y#{$sizeKey} {
            #{$type}-top: $size * $spacing-base-size;
            #{$type}-bottom: $size * $spacing-base-size;
        }
    }

    // .mt-1 {margin-top: 0.25rem;}
    @each $diretionKey,
    $diretion in $spacing-directions {

        @each $sizeKey,
        $size in $spacing-sizes {
            .#{$typeKey}#{$diretionKey}#{$sizeKey} {
                #{$type}-#{$diretion}: $size * $spacing-base-size;
            }
        }
    }
}
a {
    color: #0478be;
    letter-spacing: 0;
}
.ripple {
    position: relative;
    //隐藏溢出的径向渐变背景
    overflow: hidden;
    outline: 0;
    cursor: pointer;
}

.ripple:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    //设置径向渐变
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
    outline: 0;
    transform: scale(0, 0);
    opacity: 0.5;
    //设置初始状态
    transition: 0s;
}

.dialog-btn {
    height: 32px;
    line-height: 50%;
    font-size: 16px;
    border: none;
    border-radius: 1em;
}

#app {
    // min-width: 600px;
    // height: 100%;
    height: 100%;
}

.lizi {
    height: 100%;
    width: 100%;
    position: fixed !important;
    z-index: 0;
}

#top {
    display: flex;
    height: 3.25rem;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}

#bottom {
    height: 5rem;
    position: relative;
}

.main {
    // padding: 0 20px;
    margin: auto;
    position: relative;
    min-height: 100%;
    padding: 60px 0;

    .center {
        box-sizing: border-box;
        position: relative;
        box-sizing: border-box;
    }

    #left {
        box-sizing: border-box;
        // padding-top: 950px;
        // position: relative;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        padding-left: 20px;
    }
}

.container {
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 3rem;
}

.page {
    box-sizing: border-box;
    padding: 2.5rem 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px 6px rgba(7, 17, 27, 0.06);
    min-height: calc(100vh - 140px);
    position: relative;
    // top: 60px;
    // margin-bottom: 100px;
    // margin: 0 20%;
}

.page:hover {
    box-shadow: 0 4px 12px 12px rgba(7, 17, 27, 0.15);
}

/* @media all and (max-width: 600px) {


    .main {
        flex-flow: column;
    }

    .main .center,
    .main .left,
    .main .right {

        order: 0;
        width: auto;
    }
}
 */
#backtop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

#dialog {
    position: fixed;
    right: 0;
    width: 350px;
    bottom: 100px;
}

.wrap-box {
    box-sizing: border-box;
    padding-bottom: .625rem;
}
.card-border-white {
    border: 1px solid #EBEEF5;
    border-radius: 1rem;
    margin-bottom: .625rem;
}
.card-border-black {
    border: 1px solid #303133;
    border-radius: 1rem;
    margin-bottom: .625rem;
}
.el-card {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background: inherit;
    border: none;
    color: inherit;
    .el-card__body {
        padding: 0;
    }

    .Bulletin-board {
        padding: .625rem;
    }

    .board-header {
        box-sizing: content-box;
        font-size: 16px;
        font-weight: 800;
        padding: 10px 1.25rem .3125rem;
        border-bottom: 1px solid #ccc;
    }

    .board-main {
        box-sizing: border-box;
        padding: 0 1.25rem 1.25rem;
    }
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #000;
    color: rgb(252, 229, 24);
}

.burl {
    position: relative;
    // width: 350px;
    // animation: moveup 5s;
    // -webkit-animation: moveup 2s;
}

.el-message-box {
    animation: dialogOpen 2s;
}

.flex-middle-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    height: 66px;
    padding: 0 20px;

    .title {
        font-weight: 800;
        letter-spacing: 0.0125em !important;
    }
}

.fade {
    animation: moveup 0.6s;
}

.loadding {
    position: fixed;
    // color: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .loadding-icon {
        //margin: 0 auto;
        animation: corners 1s linear infinite;
        font-size: 80px;
        -webkit-animation: corners 1s linear infinite;
    }
}

.is_fixed {
    position: fixed !important;
    top: 60px;
    max-width: 340px;
}

// 标签
.tag-wrap {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    padding: 8px;

    .tag {
        background: #fb8c00;
        border-radius: 3px;
        color: #222;
        padding: 5px 10px 5px 15px;
        font: bold 15px system-ui;
        clip-path: polygon(8px 0%, 100% 0%, 100% 100%, 8px 100%, 0 50%);
        text-align: center;
    }
}
.open {
    display: block;
}
.close {
    display: none !important;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}