
.mobile {
    min-height: 100vh;



    html,
    body,
    form,
    fieldset,
    p,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        -webkit-text-size-adjust: none;
    }

    .v-touch {
        touch-action: pan-y !important;
    }

    #top {
        border-bottom: none;
    }

    #backtop {
        bottom: 3.125rem;
        right: .5rem;
    }
    .container {
        padding-bottom: 0;
    }
    .main {
        padding: 5rem 1.5rem;
        padding-bottom: 2rem;
        position: relative;
        box-sizing: border-box;

        .bg-main {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;

        }

        #swiper-card {
            min-height: 41rem;

            .swiper-container {
                height: 41rem;
                display: flex;

                .item-title {
                    left: 0;
                    padding: 0 1.25rem;
                }
            }

            margin-bottom: 1.5rem;
        }

        .center {
            width: 100%;

            .flex-middle-between {
                padding: 0 0.5rem;
            }

            .type-card {
                padding-top: 0;
            }
        }
    }

    .van-overlay {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .page {
        padding: 1rem;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        box-shadow: none;
    }

    #post {
        .post-main {
            padding-top: 3rem;

            .page-title {
                .title {
                    font-size: 1.25rem;
                    letter-spacing: 0.0125rem;
                    font-weight: 500;
                }
            }

            .page-info {
                .page-date {
                    padding: 0;
                }
            }

            .page-tag {
                .tag-icon {
                    font-size: 24px;
                }

                .tag-wrap {
                    .tag {
                        font-size: .8125rem;
                    }
                }
            }

            .page-brief {
                padding: 1rem 0;
                font-weight: 300;
            }
        }
    }

    #message {
        min-height: 100vh;

        .message-main {
            padding-top: 3.25rem ;
            min-height: 100vh;
            .page {
                margin-bottom: 3rem;
            }
            .message-title-h {
                padding-bottom: 1rem;
                font-weight: 550;

            }
        }

    }

    // 
    .comment-wrap {
        .err-tip {
            box-sizing: border-box;
            right: auto;
            left: .5rem;
            top: -2.8rem;
        }

        .comment-input {
            height: auto;
            padding: 0;

            .vpanel {
                margin: 0;
                padding: 0 .5rem;

                .conment-submint {
                    right: .5rem;
                    top: 6.8rem;
                    padding: 0;

                    button {
                        width: auto;
                        height: auto;
                        padding: 0 5px;
                    }
                }
            }

            .OwO-main {
                margin-left: 0;

                .OwO-logo {
                    padding: 0 .5rem;
                    margin-bottom: .5rem;
                }

                .OwO-body {
                    padding: 0;
                    display: block;
                    border: none;
                    margin-bottom: 0;
                    width: 100%;
                    position: relative;
                }

                .body-show {
                    display: none;
                }
            }
        }
    }

    .open {
        animation: side-down 0.3s;
        -webkit-animation: side-down 0.3s;
    }

    .close {
        height: 0 !important;
        overflow: hidden;
    }

    #dialog-card {
        bottom: 0;
        z-index: 1001;
        transition: height 0.3s linear;
        /*-webkit-transition: height 0.3s linear;
        -moz-transition: height 0.3s linear;
        -ms-transition: height 0.3s linear;
        -o-transition: height 0.3s linear;*/
        display: flex !important;


        .v-card {
            height: 100%;
            position: relative;
            animation: none;
            // display: flex;
            overflow-y: auto;
            border-radius: 0;

            // align-items: flex-end;
            .login-content {
                box-sizing: border-box;
                padding-top: 15%;

                .login-main {
                    margin-top: 10%;

                    .form-btn {
                        margin-top: 20%;
                    }
                }
            }
        }
    }

    #user {

        .container {
            padding-top: 3rem;
            .page {
                min-height: calc(100vh - 8rem);
            }
        }

        .user-card {
            padding: 0;
            .page {
                min-height: 0;
            }
            .user-background {
                height: 25vh !important;
                margin-bottom: 4.6875rem;
            }

            .user-item-flex {
                height: 120px !important;
            }

            .user-avatar {
                width: 120px !important;
                height: 120px !important;

                img {
                    width: 120px !important;
                    height: 120px !important;
                }

                .user-avatar-change {
                    width: 120px !important;
                    height: 120px !important;

                    .avatar-UploadPicture {
                        font-size: 16px !important;
                    }
                }

                .UploadPicture-input {
                    width: 120px !important;
                    height: 120px !important;

                }
            }
        }

        .user-main-h5 {
            padding: 1rem;
            font-size: 15px;

            .user-main-item {
                position: relative;
                margin-bottom: 1.25rem;

                .user-mian-item-desc {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    overflow-y: auto;
                    max-width: 75%;
                }

            }

            .user-main-item::after {
                content: '';
                display: block;
                height: 1px;
                transform: scaleY(0.3);
                position: relative;
                top: .3125rem;
                background: #ccc;
            }
        }


    }

    #diarys {
        min-height: 100vh;

        .diarys-main {
            min-height: 100vh;
            padding-top: 3.25rem;

            .diarys-item {
                margin: 1rem 0;
                padding: 1rem;
                border-radius: .3125rem;
                -webkit-border-radius: .3125rem;
                -moz-border-radius: .3125rem;
                -ms-border-radius: .3125rem;
                -o-border-radius: .3125rem;

                .diarys-item-timer {
                    padding: .5rem 0;
                    border-bottom: 1px solid #ccc;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;

                    .item-timer-year {
                        font-weight: 550;
                        font-size: 15px;
                    }
                }

                .diarys-item-content {
                    padding: .2rem 0;
                    font-weight: 500;
                    font-size: 15px;
                }

                .diarys-item-cover {
                    padding: 1rem 0;

                    img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: .3125rem;
                        -webkit-border-radius: .3125rem;
                        -moz-border-radius: .3125rem;
                        -ms-border-radius: .3125rem;
                        -o-border-radius: .3125rem;
                    }
                }
            }
        }
    }
    #links {
        .link-main {
            padding-top: 3.25rem;
        }
    }
    #backtop {
        background: initial;
        box-shadow: none;
        .backtop-border {
            animation: none;
            -webkit-animation: none;
            opacity: 0;
        }

    }
    #top {
        .aplayer {

        }
    }
}

.van-popover {

    // left: 240px !important;
    .van-popover__arrow {
        right: 1px !important;
    }

    .van-popover__content {
        .van-popover__action {
            width: auto;
            height: 30px;
        }
    }
}